/game_jam_stunt/Library
/game_jam_stunt/Temp
/game_jam_stunt/bin
/game_jam_stunt/Assembly-CSharp.csproj
/game_jam_stunt/Assembly-CSharp-vs.csproj
/game_jam_stunt/*.sln
/game_jam_stunt/*.userprefs
/game_jam_stunt/*.sln
*.DS_Store

